<h4>Checkout Finland Demo</h4>
<div>
  <button type="button" class="btn btn-info btn-md" (click)="addItem()">Add item to order</button>
  <div *ngFor="let item of itemList; let i = index">
    {{ item?.name }} - {{ item?.unitPrice }}
    <button type="button" class="btn btn-danger" (click)="removeItem(i)">X</button>
  </div>
  <button type="button" class="btn btn-primary btn-md" *ngIf="itemList?.length > 0"
    [disabled]="!itemList || itemList.length == 0" (click)="startPaying()">
    I want to pay
  </button>
  <div *ngIf="paymentMethods.length > 0">
    <div>Now you have to pay</div>
    <div *ngFor="let paymentProvider of paymentMethods; let i = index">
      <!-- {{ paymentProvider | json }} -->
      <form novalidate="true" method="POST" [attr.action]="paymentProvider.url" (submit)="onSubmit($event)">
        <input *ngFor="let param of paymentProvider.parameters" type="hidden" [name]="param.name" [value]="param.value" />
        <input type="submit" />
          <img [attr.src]="paymentProvider.icon" />
      </form>
    </div>
  </div>
</div>
